.title{
    position: absolute;
    top: 0;
    right: 0;
    align-items: center;
    line-height: 32px;
}

.custom-percent {
    /* Định nghĩa các kiểu cho giá trị cao */
    color: red;
}
.customPercentGreen{
    color: green !important;
}
.customPercentOrange{
    color: orange;
}